body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f9f5f0;
      color: #333;
    }
    header, footer {
      background-color: #4e382e;
      color: white;
      padding: 1rem;
      text-align: center;
    }
    main {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    section {
      margin-bottom: 2rem;
    }
    h1, h2 {
      color: #593b2b;
    }
    .nutricion, .ingredientes {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 1rem;
    }
    table, th, td {
      border: 1px solid #ccc;
    }
    th, td {
      padding: 0.5rem;
      text-align: left;
    }


  .contenido {
    font-size: 0.95rem;


  }

  .logo {
  display: block;
  margin: 0 auto 1rem auto;
  max-width: 120px;
}


